<div class="navbar-container">
	<h1 class="navbar-title">ANIMALS</h1>
	<nav class="navbar navbar-light bg-light text-center">
			<div class="col-md-4">
				<button [routerLink]="['/']" type="button" class="btn btn-info btn-block">Dogs</button>
			</div>
			<div class="col-md-4">
				<button [routerLink]="['/cats']" type="button" class="btn btn-info btn-block">Cats</button>
			</div>
			<div class="col-md-4">
				<button [routerLink]="['/birds']" type="button" class="btn btn-info btn-block">Birds</button>
			</div>
	</nav>
</div>
